body{
    background-image: url(img/montaña.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}

*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container{
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    padding: 25px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
}

.information {
    text-align: center;  
    border: 1px solid black; 
    border-radius: 5%;
    margin-bottom: 1vh;
    padding: 5px;
}

.information p{
    text-align: start;
    margin: 5px;
}


.send{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 1vh;
}

.radios{
    /* border: 2px solid black; */
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid black;
    border-radius: 5px;
}

.radios li{
    display: flex; /* Activa el modelo de diseño Flexbox */
    align-items: center; /* Alinea los elementos verticalmente al centro */
    padding: 10px; /* Agrega espacio alrededor del texto */ 
    cursor: pointer;
}

.radios input[type="radio"] {
    margin-right: 10px; /* Espacio entre los radios */
  }

.details p{
    text-align: center;
    padding: 5px;
}

.details{
    margin-top: 1vh;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}

.bar{
    text-align: center;
}

.bar p{
    margin: 20px;
}

#mensaje {
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

.black {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000; 
    opacity: 0.4;
}